body{
margin:0;
padding:0;
}
.grid {display: grid;grid-template-rows: repeat(4,7rem);grid-template-columns: repeat(3,7rem);background-color: #f8f7f5;}
.grid-item {}
.grid-item1 {grid-column: span 2;}
.grid-item2 {grid-row-start: 1;grid-row-end: 3;grid-column-start: 3;}
.grid-item3,.grid-item5 {background-color: #333334;}
.grid-item4 {grid-row-start: 3;grid-column-start: 1;}
.grid-item5 {grid-row-start: 3;grid-column-end: 4;grid-column-start: 2;}
.grid-item6 {grid-row-start: 4;grid-column-start: 2;}
.grid-item7 {grid-row-start: 4;grid-column-start: 3;}
.grid-item1,.grid-item7{background-color: #e35448;}
.grid-item2,.grid-item6{background-color: #34aea6;}


/* 
background-color: #009bb1;
background-color: #ee8c1d;
background-color: #05368c;
background-color: #009135;
background-color: #e22961;
background-color: #5c66a5;
background-color: #fccc29;
background-color: #62b9e4;
background-color: #e1261c;
background-color: #95c022;
background-color: #911c7f; */
